@import url('https://fonts.googleapis.com/css?family=Mada&display=swap');

.logoLaboratoria{
    width: 23%;
    margin-top: 7%;
}

.container-title-registry{
    font-family: 'Mada';
    font-style: normal;
    color: #2A303A;
}

.email, .password, .institution {
    background: #FFFFFF;
/* Secuandario 2 */
    border: 1px solid #9DC5BB;
    border-radius: 5px;
    margin-bottom: 2%;
}

.title-label{
    font-family: Mada;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
/* identical to box height, or 137% */
    display: flex;
    align-items: center;
/* Negro impuro */
    color: #2A303A;
}

.btn-create-account{
    border: 1px solid #00BCA0;
box-sizing: border-box;
border-radius: 5px;
display: block;
}

.container-principal{
    display: flex;
    width: 100%;
}

.container-form {
    margin-left: 3%;
}

.img-laborum{
    width: 100%;
    margin-left: -66%;
    margin-top: 80%;
}

.container-background{
    width: 40%;
    margin-right: 12%;
}

.background-yellow {
    width: 80%;
    position: absolute;
    z-index: -1;
    height: 81%;
    margin-left: -20%;
    margin-top: 4%;
}

.vector {
    width: 7%;
    position: absolute;
    margin-top: 5%;
    margin-left: -17%;
   }

.vector-transparent{
    width: 7%;
    position: absolute;
    margin-left: -13%;
    margin-top: 5%
}

.vector-one {
    width: 7%;
    position: absolute;
    margin-left: -9%;
    margin-top: 5%
}

.vector-transparent-one {
    width: 7%;
    position: absolute;
    margin-left: 51%;
    margin-top: 49%;
}

.vector-two {
    width: 7%;
    position: absolute;
    margin-left: 47%;
    margin-top: 49%;
}


.vector-transparent-two{
    width: 7%;
    position: absolute;
    margin-left: 43%;
    margin-top: 49%;
}

p {
    font-family: Mada;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    margin-left: 2%;
    margin-top: 20%;
}