.buttonback{
background: #00BCA0;
border-radius: 5px;
width: 125px;
height: 30px;
font-family: Mada;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.download{
background: #00BCA0;
border-radius: 6px;
font-family: Mada;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 27px;
align-items: center;
color: #FFFFFF;
width: 151px;
height: 43px;
}

.view{
  font-family: Mada;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #335453;
  background: #DEE5E5;
  border-radius: 6px;
  width: 409px;
  height: 43px;
  margin: 0px;
  }
  
  #headerCv{
    display: flex;
    flex-direction: row;
  }

.nameUser , .lastName{  
font-family: Mada;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 27px;
display: flex;
align-items: center;
color :#2A303A;
width: 749px;
height: 43;
}

.emailUser{
font-family: Mada;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #00BCA0;

}

.titleAboutMe{
font-family: Mada;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
color: #335453;
}

.aboutMe{
font-family: Mada;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
color: #2A303A;
width: 249px;
text-align: justify;
}

.titleGeneric {
  font-family: Mada;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  align-items: center;
  color: #00BCA0;
  margin-top:0px
}

.nameWorkInstitution , .nameInstitution{
font-family: Mada;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 27px;
display: flex;
align-items: center;
color: #6E948B;
margin-bottom: 10px;
width: 246px;
height: 43px;
}

#workTitle ,.educationTitle{
font-family: Mada;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
color: #335453;
margin-bottom: 5px;
margin-top: 0px;
}

.workDescription , .educationDescription{
font-family: Mada;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
color: #2A303A;
margin-left: 60px;
}

.containerCv{
background: #FFFFFF;
width: 922px;
height: 464px
}

.containerInfo{
  display: flex;
  flex-direction: row;
}

#containerExperience{
  display: flex;
  flex-direction: column;
}


.city , .emailUser ,.phone ,.dateOfBirth{
  font-family: Mada;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #00BCA0;
margin-top: 0px;
margin-left: 10px;

}


.sectionDate{
  float :left
}

.sectionDescription{
  justify-content: center;
}

.headboard{
  width: 749px;
  height: 43;
}

.line{
  border: 1px solid #DEE5E5;
}
.email{
  display: flex;
  flex-direction: row;
}

.svg{
  margin-top: 5px;
  margin-left: 10px
}

.workSince , .educationSince{
 font-family: Mada;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
align-items: center;
color: #2A303A;
}

.containerDataUser{
  display: flex;
  flex-direction: row;
}
.sectionDate{
  margin-top: 0px;
}