@import url('https://fonts.googleapis.com/css?family=Mada&display=swap');

.container-principal {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.logoLaboratoria{
  width: 230px;
  margin-top: 10px;
}

.container-lo{
  width: 264px;
  margin-left: 30px;
  font-family: 'Mada';
  color: #2A303A;
}

.container-form {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

}
.container-title-login h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  text-align: left;
  margin-left: 55px;
}

.container-title-login h5 {
  font-family: 'Mada';
  font-style: normal;
  font-weight: bold;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
}

.title-label{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #2A303A;
    margin: 15px 15px 15px 0px;
  }

.form-control{
    width: 264px;
    height: 41px;
    background: #ffffff;
    border: 1px solid #9dc5bb;
    border-radius: 5px;
    font-family: 'Mada';
}

.btn-create-account{
    background-color: transparent;
    border: 01px solid #00BCA0;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 25px;
    width: 264px;
    height: 41px;
    font-family: 'Mada';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #00BCA0;
}

.btn-create-account-cuenta {
  background-color: transparent;
  border: 01px solid #00BCA0;
  border-radius: 5px;
  margin-left: 0px;
  margin-top: 45px;
  width: 264px;
  height: 41px;
  font-family: 'Mada';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #00BCA0;
}

.cuenta {
  display: flex;
  flex-direction: row;
}

.cuenta p {
  margin-right: 3px;
}

.remember-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remember-me p {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

  .color {
    color: #C78D00;
  }

.texto{
    font-family: 'Mada';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #2A303A;   
}
.textoRegistry{
    font-family: 'Mada';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #C78D00;
    text-decoration: none;
  
}
.cont-Img-Egresada, 
.cont-Img-Egresada-registro {
    position: absolute;
    width: 264px;
    height: 264px;
    left: 300px;
    top: 213px;
}

.cont-Img-Egresada-registro img {
  width: 270px;
  height: 264px;
}

.container-background{
   position: absolute;
   width: 640px;
   height: 531px;
   left: 600px;
   top: 35px;
}
