@import url('https://fonts.googleapis.com/css?family=Mada&display=swap');

.container-principal{
    display: flex;
    width: 100%;
    height: 100%;
}
.logoLaboratoria{

    width: 226px;
  
    margin-top: 10px;
    left: 55px;
    top: 89px;
    
}

.container-title-login{
    font-family: 'Mada';
    font-style: normal;
    color: #2A303A;
}

.title-label{
    position: absolute;
    left: 0.38;
    font-family: Mada;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #2A303A;
}


.form-control{
  
 
    width: 264px;
    height: 41px;
  margin-top: 40px;


    background: #ffffff;
    border: 1px solid #9dc5bb;
    border-radius: 5px;
    font-family: Mada;
    
}

.container-lo{
    margin-left: 30px;
}

.btn-create-account{
    background-color: transparent;
    border: 01px solid #00BCA0;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    margin-left: 0px;
    margin-top: 25px;
    width: 264px;
    height: 41px;
    font-family: Mada;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 16px;
    color: #00BCA0;
}

.texto{
    position: absolute;
    left: 2.89%;
    right: 84.84%;
    top: 83.06%;
    bottom: 10.42%;
    font-family: Mada;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #2A303A;   
}
.textoRegistry{
    position: absolute;
    left: 2.89%;
    right: 84.84%;
    top: 83.06%;
    bottom: 10.42%;
    font-family: Mada;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffe521;
   

}
.cont-Img-Egresada{
    position: absolute;
    width: 264px;
    height: 264px;
    left: 358px;
    top: 213px;
}






.container-background{
   position: absolute;
   width: 640px;
   height: 531px;
   left: 640px;
   top: 95px;
   background: #ffe521;
}
.background-yellow {
    width: 80%;
    position: absolute;
    z-index: -1;
    height: 81%;
    margin-left: -20%;
    margin-top: 4%;
}




