.container{
    border: 1px solid black;
    height: 470px;
    padding: 10px 20px;
    float: right;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
